:root {
    --text-light: black; 
    --text-white: white;
}
html {
    font-family: 'Open Sans', sans-serif;
}
.page-header {
    text-align: center;
    padding: 1em;
    margin-bottom: 1em;;
    background-image: url(../images/egypt.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.categories {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    /* použijte auto-fit s šířkou sloupce minimálně 300px */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 1em;
    gap: 1em;
}
.categories__item {
    position: relative;
    color: inherit;
    max-height: 80vh;
    border-radius: 2.4%;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
}
.categories__item:hover {
    box-shadow: 0 0 8px 2px var(--text-light);
}
.categories__item-image {
    filter: brightness(0.9) saturate(1) contrast(1);
}
.categories__item-description {
    padding: 1em;
    color: var(--text-light);
}
/* TODO */


.categories__item:hover{
    transform: scale(1.05);

}
.categories__item-description{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: var(--text-white);
    transition: 1s ease-in-out;

}
.categories__item:hover .categories__item-description {
    position: absolute;
    color: var(--text-white);
    left: 0;
    right: 0;
    text-align: center;
    bottom: calc(50% - 2em);
}

.categories__item:hover .img-responsive {
    transform: scale(1.5);

}

.categories:has(:hover) .img-responsive:not(:hover) {
    filter: blur(15px);
}



/* Global */
.img-responsive {
    width: 100%;
    display: block;
    transition: transform .5s ease-in-out;
    transition: 1s ease-in-out;
}
figure, h2 {
    margin: 0;
}
.heading {
    margin: 0.25em 0;
    font-weight: bold;
}
.heading--h1 {
    text-transform: uppercase;
    font-size: 2em;
    color: var(--text-white);
}